@import './fonts.css';
@import './transitions.css';

.prose {
  --tw-prose-invert-bullets: #fff;
  --tw-prose-counters: #fff;
}

#app #content {
  height: calc(100vh - 64px);
  max-height: calc(100vh - 64px);
  margin-top: 64px;
}

@media (min-width: 640px) {
  #app #content {
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    margin-top: 80px;
  }
}

.rich-text p {
  min-height: 24px;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}